/* lista-itens.component.css */

.add-item-container {
  margin-bottom: 15px;
}

input {
  width: 70%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li.concluido {
  text-decoration: line-through;
  color: #808080;
}

button.delete {
  background-color: #dc3545;
}

button.check {
  background-color: #28a745;
}

p {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
